<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles.css">
  <style>
    .table {
      width: 100%;
      margin-bottom: 20px;
      border: 1px solid #dddddd;
      border-collapse: collapse;
    }
    .table th {
      font-weight: bold;
      padding: 5px;
      background: #efefef;
      border: 1px solid #dddddd;
    }
    .table td {
      border: 1px solid #dddddd;
      padding: 5px;
    }

    label {
      display: inline-block;
      width: 200px;
      margin: 5px;
      text-align: left;
    }
    button {
      padding: 5px;
      margin: 10px;
    }
  </style>
</head>
<body>
<form th:method="POST" th:action="@{/admin/get-doctor/{id}/create-time-table(id=${timeTable.getDoctorID()})}" th:object="${timeTable}">
  <table class="table">
    <tr>
      <th colspan="2"> </th>
      <th colspan="2"><label id="day0"></label></th>
      <th colspan="2"><label id="day1"></label></th>
      <th colspan="2"><label id="day2"></label></th>
      <th colspan="2"><label id="day3"></label></th>
      <th colspan="2"><label id="day4"></label></th>
      <th colspan="2"><label id="day5"></label></th>
      <th colspan="2"><label id="day6"></label></th>
    </tr>
    <tr>
      <td colspan="2">Date</td>
      <td colspan="2"><label id="date0"></label></td>
      <td colspan="2"><label id="date1"></label></td>
      <td colspan="2"><label id="date2"></label></td>
      <td colspan="2"><label id="date3"></label></td>
      <td colspan="2"><label id="date4"></label></td>
      <td colspan="2"><label id="date5"></label></td>
      <td colspan="2"><label id="date6"></label></td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
      <td>from</td>
      <td>to</td>
      <td>from</td>
      <td>to</td>
      <td>from</td>
      <td>to</td>
      <td>from</td>
      <td>to</td>
      <td>from</td>
      <td>to</td>
      <td>from</td>
      <td>to</td>
      <td>from</td>
      <td>to</td>
    </tr>
    <tr>
      <td colspan="2">Work time</td>
      <td>
        <input type="hidden" th:field="*{date}">
        <input type="hidden" th:field="*{doctorID}">
        <select th:field="*{firstDayFrom}">
          <option value="0">Does not work</option>
          <option value="8">8:00</option>
          <option value="9">9:00</option>
          <option value="10">10:00</option>
          <option value="11">11:00</option>
          <option value="12">12:00</option>
          <option value="13">13:00</option>
          <option value="14">14:00</option>
          <option value="15">15:00</option>
          <option value="16">16:00</option>
          <option value="17">17:00</option>
          <option value="18">18:00</option>
        </select>
      </td>
      <td>
        <select th:field="*{firstDayTo}">
          <option value="0">Does not work</option>
          <option value="8">8:00</option>
          <option value="9">9:00</option>
          <option value="10">10:00</option>
          <option value="11">11:00</option>
          <option value="12">12:00</option>
          <option value="13">13:00</option>
          <option value="14">14:00</option>
          <option value="15">15:00</option>
          <option value="16">16:00</option>
          <option value="17">17:00</option>
          <option value="18">18:00</option>
        </select>
      </td>

      <td>
        <select th:field="*{secondDayFrom}">
          <option value="0">Does not work</option>
          <option value="8">8:00</option>
          <option value="9">9:00</option>
          <option value="10">10:00</option>
          <option value="11">11:00</option>
          <option value="12">12:00</option>
          <option value="13">13:00</option>
          <option value="14">14:00</option>
          <option value="15">15:00</option>
          <option value="16">16:00</option>
          <option value="17">17:00</option>
          <option value="18">18:00</option>
        </select>
      </td>
      <td>
        <select th:field="*{secondDayTo}">
          <option value="0">Does not work</option>
          <option value="8">8:00</option>
          <option value="9">9:00</option>
          <option value="10">10:00</option>
          <option value="11">11:00</option>
          <option value="12">12:00</option>
          <option value="13">13:00</option>
          <option value="14">14:00</option>
          <option value="15">15:00</option>
          <option value="16">16:00</option>
          <option value="17">17:00</option>
          <option value="18">18:00</option>
        </select>
      </td>

      <td>
        <select th:field="*{thirdDayFrom}">
          <option value="0">Does not work</option>
          <option value="8">8:00</option>
          <option value="9">9:00</option>
          <option value="10">10:00</option>
          <option value="11">11:00</option>
          <option value="12">12:00</option>
          <option value="13">13:00</option>
          <option value="14">14:00</option>
          <option value="15">15:00</option>
          <option value="16">16:00</option>
          <option value="17">17:00</option>
          <option value="18">18:00</option>
        </select>
      </td>
      <td>
        <select th:field="*{thirdDayTo}">
          <option value="0">Does not work</option>
          <option value="8">8:00</option>
          <option value="9">9:00</option>
          <option value="10">10:00</option>
          <option value="11">11:00</option>
          <option value="12">12:00</option>
          <option value="13">13:00</option>
          <option value="14">14:00</option>
          <option value="15">15:00</option>
          <option value="16">16:00</option>
          <option value="17">17:00</option>
          <option value="18">18:00</option>
        </select>
      </td>

      <td>
        <select th:field="*{forthDayFrom}">
          <option value="0">Does not work</option>
          <option value="8">8:00</option>
          <option value="9">9:00</option>
          <option value="10">10:00</option>
          <option value="11">11:00</option>
          <option value="12">12:00</option>
          <option value="13">13:00</option>
          <option value="14">14:00</option>
          <option value="15">15:00</option>
          <option value="16">16:00</option>
          <option value="17">17:00</option>
          <option value="18">18:00</option>
        </select>
      </td>
      <td>
        <select th:field="*{forthDayTo}">
          <option value="0">Does not work</option>
          <option value="8">8:00</option>
          <option value="9">9:00</option>
          <option value="10">10:00</option>
          <option value="11">11:00</option>
          <option value="12">12:00</option>
          <option value="13">13:00</option>
          <option value="14">14:00</option>
          <option value="15">15:00</option>
          <option value="16">16:00</option>
          <option value="17">17:00</option>
          <option value="18">18:00</option>
        </select>
      </td>

      <td>
        <select th:field="*{fifthDayFrom}">
          <option value="0">Does not work</option>
          <option value="8">8:00</option>
          <option value="9">9:00</option>
          <option value="10">10:00</option>
          <option value="11">11:00</option>
          <option value="12">12:00</option>
          <option value="13">13:00</option>
          <option value="14">14:00</option>
          <option value="15">15:00</option>
          <option value="16">16:00</option>
          <option value="17">17:00</option>
          <option value="18">18:00</option>
        </select>
      </td>
      <td>
        <select th:field="*{fifthDayTo}">
          <option value="0">Does not work</option>
          <option value="8">8:00</option>
          <option value="9">9:00</option>
          <option value="10">10:00</option>
          <option value="11">11:00</option>
          <option value="12">12:00</option>
          <option value="13">13:00</option>
          <option value="14">14:00</option>
          <option value="15">15:00</option>
          <option value="16">16:00</option>
          <option value="17">17:00</option>
          <option value="18">18:00</option>
        </select>
      </td>

      <td>
        <select th:field="*{sixthDayFrom}">
          <option value="0">Does not work</option>
          <option value="8">8:00</option>
          <option value="9">9:00</option>
          <option value="10">10:00</option>
          <option value="11">11:00</option>
          <option value="12">12:00</option>
          <option value="13">13:00</option>
          <option value="14">14:00</option>
          <option value="15">15:00</option>
          <option value="16">16:00</option>
          <option value="17">17:00</option>
          <option value="18">18:00</option>
        </select>
      </td>
      <td>
        <select th:field="*{sixthDayTo}">
          <option value="0">Does not work</option>
          <option value="8">8:00</option>
          <option value="9">9:00</option>
          <option value="10">10:00</option>
          <option value="11">11:00</option>
          <option value="12">12:00</option>
          <option value="13">13:00</option>
          <option value="14">14:00</option>
          <option value="15">15:00</option>
          <option value="16">16:00</option>
          <option value="17">17:00</option>
          <option value="18">18:00</option>
        </select>
      </td>

      <td>
        <select th:field="*{seventhDayFrom}">
          <option value="0">Does not work</option>
          <option value="8">8:00</option>
          <option value="9">9:00</option>
          <option value="10">10:00</option>
          <option value="11">11:00</option>
          <option value="12">12:00</option>
          <option value="13">13:00</option>
          <option value="14">14:00</option>
          <option value="15">15:00</option>
          <option value="16">16:00</option>
          <option value="17">17:00</option>
          <option value="18">18:00</option>
        </select>
      </td>
      <td>
        <select th:field="*{seventhDayTo}">
          <option value="0">Does not work</option>
          <option value="8">8:00</option>
          <option value="9">9:00</option>
          <option value="10">10:00</option>
          <option value="11">11:00</option>
          <option value="12">12:00</option>
          <option value="13">13:00</option>
          <option value="14">14:00</option>
          <option value="15">15:00</option>
          <option value="16">16:00</option>
          <option value="17">17:00</option>
          <option value="18">18:00</option>
        </select>
      </td>
    </tr>
  </table>
  <script>
    function zero_first_format(value){
      if (value < 10) { value='0'+value;}
      return value;
    }

    function date_time(i){
      var current_datetime = new Date();
      return zero_first_format(current_datetime.getDate() + i)+"."+zero_first_format(current_datetime.getMonth()+1);
    }

    var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
    var current_year = new Date().getFullYear();
    for (i = 0; i<7; i++){
      document.getElementById('date'+i).innerHTML = date_time(i);
      var dateArray = date_time(i).split('.');
      var d = new Date(current_year, dateArray[1] - 1, dateArray[0]);
      var n = d.getDay();
      document.getElementById('day'+i).innerHTML = days[n];
      dateArray = [];
    }


  </script>
  <input type = "submit"/>
</form>
</body>
</html>