<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<h1>Doctor changing</h1>
<form th:method="POST" th:action="@{/admin/get-doctor/changed}" th:object="${doctor}">

  <label>Full name:</label>
  <input type="text" field="*{name}" name="name"/><br/>
  <label>Specification:</label>
  <input type="text" field="*{specification}" name="specification"><br/>
  <label>Number:</label>
  <input type="text" field="*{number}" name="number"/><br/>
  <label>E-mail:</label>
  <input type="text" field="*{email}" name="email"/><br/>
  <button type="submit" value="Submit" >Submit</button>
</form>
</body>
</html>