<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>User Registration</h1>
<form th:method="POST" th:action="@{/user/add}" th:object="${user}">

  <label>Full name:</label>
  <input type="text" th:field="*{name}" /><br/>
  <label>Number:</label>
  <input type="text" th:field="*{number}" /><br/>
  <label>E-mail:</label>
  <input type="text" th:field="*{email}" /><br/>
  <label>Password:</label>
  <input type="text" th:field="*{password}" /><br/>

  <button type="submit" value="Submit" >Submit</button>
</form>
</body>
</html>